.details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1%;
}

.detailsTitle {
  font-size: 2vw;
  text-align: center;
}

.detailsImg {
  height: auto;
  width: 50vw;
}

.info {
  width: 50vw;
}
