.searchPage {
  height: 100vh;
}

.userInput {
  font-size: 1.5vw;
  height: 2vw;
  width: auto;
}

.searchButton {
  margin-left: 1%;
  font-size: 1.5vw;
  height: auto;
  width: auto;
}

.searchButton:hover {
  cursor: pointer;
}
