.article {
  height: auto;
  width: 15vw;
  margin: 5%;
  text-decoration: none;
  color: black;
  padding: 5%;
}

.articleImg {
  height: 10vw;
  width: auto;
}

.articleTitle {
  text-align: center;
  text-overflow: ellipsis;
  font-size: 1vw;
}

.article:hover {
  cursor: pointer;
}

.article:hover {
  box-shadow: 0 0 10px 5px black;
}
