.box {
  border: solid black 0.2rem;
  margin: 1%;
}

.nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0.5%;
  border: solid black 0.1rem;
  padding: 1%;
}

.link {
  text-decoration: none;
  color: black;
}

.link:hover {
  text-decoration: underline;
}
